.buttons {
    background-color: black !important;
    color: yellow !important;
}
#button0 {
    width: 100%;
}
#buttonAC {
    width: 100%;
}
#buttonClear {
    width: 115%;
}
.buttons:hover {
    background-color: yellow !important;
    color: black !important;
}